<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/retro.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Mono">
</head>
<body>
  <div class="noise"></div>
  <div class="gradient"></div>
  <h1>wissotsky.com</h1>
  {{ range .Pages }}
    <!-- width="24" height="24" src="https://cdn.jsdelivr.net/npm/pixelarticons@latest/svg/{{ .Params.icon }}.svg" -->
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ .Description }}
    <hr>
  {{ end }}
</body>
</html>
