/*
based on https://glitch.com/~minty-monotype
*/
body {
  background-color: #e9f4fa;
  color: #058118;
  font-family: "DM Mono", serif;
}



/* visited link */
a:visited {
  color: #02370a;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* unvisited link */
a:link {
  color: #180581;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid;
  }
}

/* to use for nav with shadow */
p.two {
  border-style: solid;
  border-width: medium;
}

/* make text not overly long */
p {
  max-inline-size: 66ch;
  overflow-wrap: break-word;
}

/* make images scale better on mobile */
/* probably doesnt work well for vertical images but I will deal with it once I get there */
img {
  max-height: 24rem;
  max-width: 100%;
  object-fit: scale-down;
  object-position: left top;
}
